:root {
    --yellow: #F9E107;
    --white-f6: #F6F6F6;
}

body {
    background-color: var(--white-f6);
    color: black;
}

.top {
    background: url("assets/bg-top.png") no-repeat center ;
    background-size: cover;
    height: 100vh;
}

.btn-warning {
    background-color: var(--yellow) !important;
    border-color: var(--yellow) !important;
}

.text-warning {
    color: var(--yellow) !important;
}

.mw-300 {
    max-width: 300px;
}

.mw-400{
    max-width: 400px;
}

@media screen and (max-width: 768px){
    .navbar{
        background-color: black !important;
    }
}