:root {
    --yellow: #F9E107;
    --white-f6: #F6F6F6;
}

body {
    background-color: var(--white-f6);
    color: black;
}

.top {
    background: url("assets/bg-top.png") no-repeat center;
    background-size: cover;
    height: 100vh;
}

.services {
    background: url("assets/services/bg-service.png") no-repeat center;
    background-size: cover;
}

.contact {
    background: url("assets/bg-contact.png") no-repeat center;
    background-size: cover;
}

.btn-warning {
    background-color: var(--yellow) !important;
    border-color: var(--yellow) !important;
}

.text-warning {
    color: var(--yellow) !important;
}

.bg-warning {
    background-color: var(--yellow) !important;
}

.mw-300 {
    max-width: 300px;
}

.mw-400 {
    max-width: 400px;
}

.bottom-m10 {
    bottom: -10px;
}

.shadow-text-black {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.71);
    ;
}

.navbar{
    z-index: 1;
}

.after-line {
    position: relative;
}

.after-line::after {
    content: '';
    position: absolute;
    width: 165px;
    height: 6px;
    background: var(--yellow);
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (max-width: 768px) {
    .navbar {
        background-color: black !important;
    }
}